* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/background.avif');
  background-size: cover;
  background-repeat: no-repeat;

}

h1 {
  margin-top: 0;
  font-family: "Verdana";
  font-size: 22px;
  font-weight: bold; /* Make it bold if desired */
  border: ;
  border-width: 3px 3px;
  border-color: rgb(141, 7, 7);
  height: 50px;
  text-align: center; /* Center-align the text */
  margin-top: 30px; /* Add some top margin for spacing */
  margin-bottom: 180px;
  color: #b42e10; /* Set the text color to your preferred color */
}
  


h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #f95656;
  border: 1px solid #000000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: -200px;
  margin-top: 10px;
}

.game-board {
  margin: 0 auto; /* Add margin:auto to horizontally center the element */
  margin-top: 100px; /* Add a top margin for spacing */
  margin-left: 100px;
  background: rgba(191, 170, 170, 0.8); /* Add a background color or transparency for better visibility */
  padding: 15px; /* Add padding for spacing */
  border-radius: 10px; /* Add border-radius for a rounded appearance */
  height: 160px;
  /* overflow-y: scroll; */
}

/* Add CSS styles to format the list */
ol {
  list-style-type: none;
  padding-left: 10px;
}

li {
  margin-bottom: 10px;
}

button {
  background: red;
  border: ridge;
  cursor: pointer;
  color: #2c0879; /* Change the color to your preference */
  font-weight: bold;
  text-decoration: ;
  font-size: 16px;
}




